

/* Section -Four */
.sectionFour {
    padding: 0;
    height: 77vh;
    /* margin-top: 160px; */
}
.sectionFour .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sectionFour .col_12{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.sectionFour h3 {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #000000;
    text-align: center;
}
.sectionFour .row2 {
    width: 100%;
    padding-left: 62px;
    padding-right: 62px;
    text-align: center;
}
.sectionFour .row2 .col-md-4 {
    padding: 0;
}
.sectionFour .counter,.plus,.dollar {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 43px;
    color: #000000;
}
.sectionFour p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    font-weight: 600;
    color: #000000;
}

/* media queries */
/* For i-pad and i-pad pro */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
   .sectionFour {
       height: auto;
   }
    .sectionFour h3 {
        font-size: 53px
    }
    .sectionFour .row1 {
        padding-bottom: 40px;
    }
    .sectionFour .row2 {
        padding-top: 50px;
    }
 
}

/* For mobile */
@media (max-width:767px) {
    .sectionFour{
        height: auto;
    }
    .sectionFour .row {
        margin-left: 0;
        margin-right: 0;
    }
    .sectionFour .col-md-4 {
        padding-top: 20px;
    }
    .sectionFour h3{
        font-size: 33px;
    }
    .sectionFour .row2 {
        padding: 0;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    
    .sectionFour .counter,.plus,.dollar {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;
        font-size: 29px;
        color: #000000;
    }

}